body{
  display:flex;
  flex-flow:column;
  justify-content:space-between;
  min-height:100vh;
  margin:0px;
}
.header,
.footer{
  background:lightgrey;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:10px;
}

.content{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-flow:column;
}

ul{
  padding:0;
}

.drawing-pad{
  background:grey;
  padding:10px;
  min-width:200px;
  min-height:200px;
  flex:0;
  border:10px solid blue;
  border-radius:10px;
  display:flex;
  flex-flow:column;
}

.pixelVer,
.pixel{
  display:flex;
  color:green;
  background:green;
  flex:1 1 auto;
}

